img#logo {
    background-color: #dee2e6;
    border-radius: 20px;
    width: 65%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #2980B9!important;
  background-color: #2980B9!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980B9), color-stop(100%, #2980B9))!important;
  background: -webkit-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
  background: -moz-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
  background: -ms-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
  background: -o-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
  background: linear-gradient(to bottom, #2980B9 0%, #2980B9 100%)!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: .5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: white !important;
  border: 1px solid #686868e8;
  border-radius: 2px;
  background:#353535;
}
.zero{
  background: #de1326;
  color: white;
  /* border-radius: 6px; */
  /* font-size: 15px; */
  border: 1px solid black;
}
body{
  font-size:10px;
}
input#max {
  width: 191px;
}
table.date {
  display: inline-grid;
  
}
.titlelist{
  text-align: center;

}
.dataTables_wrapper .dt-buttons, .relatorio_data {
  display:inline;
}

.table{
  text-align: center;
}
.buttonscad{
/* background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%); */
background-image: linear-gradient( 
135deg
 , #3a5693 10%, #0033b5 100%);
}
.totalcolor1{
  background-image: linear-gradient(135deg, #3B2667 10%, #BC78EC 100%);
}
.md-toolbar-tools, .totalcolor {

/* background-image: radial-gradient( circle 300px at 8% 89.3%,  rgba(20,157,208,1) 0%, rgba(140,63,226,1) 90% ); */
background-image: radial-gradient( circle 300px at 8% 89.3%, #3a5693 0%, #3a5693 90% );


}

.toolbar md-toolbar {
  z-index: 100;
}

.toolbar .app-name {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.toolbar .identification {
  margin-right: 100px;
  text-align: right;
}

.toolbar .identification .name {
  font-size: 14px;
  margin-right: 3px;
}

.toolbar .identification .role {
  font-size: 11px;
  color: #BAD1E3;
}

.toolbar .identification button {
  padding: 5px 3px;
  margin: 0;
  min-height: 0;
  text-align: right;
  line-height: 0;
}

.toolbar .identification .role:hover {
  color: #fff;
}

.toolbar .fa-coffee {
  margin: 0 10px;
  color: #27378D;
}

.toolbar .side-menu {
  margin-top: 15px;
  padding: 0;
}

.toolbar .side-menu .fa {
  width: 20px;
}

.toolbar .menu-item {
  color: #666;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  padding: 15px 15px 15px 30px;
}

.toolbar .menu-item:focus {
  outline: none;
  border: 0;
}

.toolbar .menu-item:hover {
  background: #f6f6f6;
}

.toolbar .menu-item.selected {
  background: #ddd;
}

.toolbar .menu-item .icon-all-requests {
  font-size: 23px;
  margin-right: 20px;
}

.toolbar .menu-item.separator {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.toolbar .log-out-menu {
  font-size: 16px;
  border-radius: 1px;
  background: #fff;
  right: 10px;
  top: -10px;
  position: absolute;
  z-index: 50;
  transition: top .25s ease-out;
}

.toolbar .log-out-menu.visible {
  top: 60px;
}

.toolbar .log-out-menu .log-out-button {
  color: #555;
}

.add-button {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .toolbar .app-name {
    font-size: 20px;
  }
  .toolbar .identification {
    margin-right: 30px;
  }
  .toolbar .identification .name {
    font-size: 11px;
  }
  .toolbar .identification .role {
    font-size: 10px;
  }
}

.view {
  margin: 50px;
}

.view h1 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.dashboard .summary-boxes {
  color: #fff;
  margin: 30px 0;
}

.dashboard .summary-box {
  width: 200px;
  border-radius: 2px;
}

.dashboard .summary-box.summary-total {
  background: #00c0ef;
}

.dashboard .summary-box.summary-pending {
  background: #F39C12;
}

.dashboard .summary-box.summary-amount {
  background: #00A65A;
}

.dashboard .summary-box-main {
  margin: 10px;
}

.dashboard .summary-box-main .summary-value {
  font-size: 25px;
  font-weight: 900;
}

.dashboard .summary-box-main .summary-desc {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 10px 20px 0;
}

.dashboard .summary-box-footer {
  padding: 4px;
  font-size: 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.dashboard .md-whiteframe-1dp {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.dashboard .md-whiteframe-1dp .icon {
  font-size: 30px;
  padding: 5px;
  color: #bbb;
}

.dashboard .md-whiteframe-1dp h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: #3F51B5;
  padding: 5px 10px;
  margin: 0;
}

img.rounded.mx-auto {
  width: 16px;
}
.dashboard .md-whiteframe-1dp h3 {
  font-size: 15px !important;
  line-height: 1.2em !important;
  color: #777 !important;
}

.dashboard .md-whiteframe-1dp a {
  color: #3F51B5 !important;
}

@media screen and (max-width: 600px) {
  .dashboard .summary-box {
    width: 130px;
  }

  .dashboard .summary-box-main .summary-value {
    font-size: 17px;
  }

  .dashboard .summary-box-main .summary-desc {
    font-size: 11px;
    font-weight: 400;
    margin: 10px 10px 20px 0;
  }
}

.orders .filter md-input-container.md-icon-float {
  margin-top: 0;
}

.orders .filter .fa-search {
  color: #666;
}

.orders .md-whiteframe-1dp {
  margin-top: 10px;
  padding: 0 10px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.orders .order {
  padding: 10px 0;
}

.orders .order .contractor {
  width: 100px;
  background: #F39C12;
  margin: 0 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.orders .order .box-2 {
  width: 200px;
}

.orders .order .box-2 .number {
  color: #444;
}

.orders .order .box-2 .date {
  font-size: 11px;
  color: #777;
}

.orders .order .box-3 {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.orders .order .box-4 {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.orders .order .badge {
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}

.orders .order .badge.total {
  background: #00c0ef;
}

.orders .order .badge.created {
  background: #F39C12;
}

.orders .order .badge.pending {
  background: #00A65A;
}

.orders .order .badge.closed {
  background: #bbb;
}

.contracts h2 {
  font-size: 18px;
  font-weight: 200;
  color: #444;
  margin-top: 40px;
}

.contracts .fa-file-pdf-o {
  font-size: 20px;
}

.contracts .boxes {
  margin-top: 50px;
}

.contracts .box {
  border-radius: 3px;
  color: #fff;
  width: 150px;
}

.contracts .box.blue {
  background: #00c0ef;
}

.contracts .box.green {
  background: #00A65A;
}

.contracts .box.orange {
  background: #F39C12;
}

.contracts .box.yellow {
  background: #F3C512;
}

.contracts .box .contractor-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.contracts .box .contractor {
  margin: 10px 15px;
  font-size: 18px;
  font-weight: 500;
}

.contracts .box .button-hidden {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .contracts .box {
    width: 105px;
  }
  .contracts .box .contractor {
    font-size: 14px;
  }

  .contracts .box .button {
    font-size: 11px;
  }
}
.p-3.mb-2.text-white.border-top-0.totalcolor {
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

@keyframes colors{
	0%{background-position: 0% 50%;}
	50%{background-position: 50% 100%;}
	100%{background-position: 0% 50%;}
}
.card-5 {
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}